
# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Editor settings
.vscode/
.idea/

# pytest
.pytest_cache/

# build artifacts
build/
dist/
*.egg-info/
*.o
*.a
*.so
*.dylib
*.exe
a.out
*.d

# Generated outputs
output/


# Ignore other files and folders:
baumann.pdf

